h1{
    font-weight: 700;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 20px;
}

input{
    width: 100%;
}

.item-container{
    text-align: left;
}

.kb-row{
    width: 100%;
    margin: 10px 5px;
}

.kb-button{
    min-width: 80px;
}
